<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569731320593-coscvprffv4ghiardar9c2hdl8ou6p6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569731320593-coscvprffv4ghiardar9c2hdl8ou6p6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>569731320593-qt0j4vpme0qkl97hr8ai79abglevkq7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQC42AApMbybkV7AydZS9gzxKpY4g04_0</string>
	<key>GCM_SENDER_ID</key>
	<string>569731320593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solutionsoul.furqan.DailerApplication</string>
	<key>PROJECT_ID</key>
	<string>truecallerclone-36ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>truecallerclone-36ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569731320593:ios:2d5b8364e85077ff8e9ab0</string>
	<key>DATABASE_URL</key>
	<string>https://truecallerclone-36ed0.firebaseio.com</string>
</dict>
</plist>